
body {
    background: black none repeat scroll 0 0;
    margin: 0;
    overflow: hidden;
}
.main {
    background: steelblue none repeat scroll 0 0;
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.sky {
    animation: 15s linear 0s normal none infinite running sky;
    background: steelblue none repeat scroll 0 0;
    box-shadow: 0 -400px 300px -300px orangered inset;
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.herb {
    background: rgba(0, 0, 0, 0) url("http://img-fotki.yandex.ru/get/5000/5091629.98/0_7a92d_7ece70d7_XL.png") no-repeat scroll center bottom;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.sun {
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 15s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: move, sun-color;
    animation-play-state: running;
    animation-timing-function: linear;
    background: orangered none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -30%;
    height: 10em;
    left: 0;
    margin-left: -2.5em;
    margin-top: 0;
    position: absolute;
    width: 10em;
}

@keyframes move {
0% {
}
10% {
    margin-left: -4.5em;
}
20% {
    margin-left: -5.5em;
}
30% {
    margin-left: -6em;
}
40% {
    margin-left: -4.5em;
}
50% {
    bottom: 75%;
    height: 5em;
    left: 50%;
    margin-left: -2.5em;
    width: 5em;
}
60% {
    margin-left: 1.5em;
}
70% {
    margin-left: 3.5em;
}
80% {
    margin-left: 2.5em;
}
90% {
    margin-left: 1em;
}
100% {
    left: 98%;
    margin-left: -2.5em;
}


